<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre..." 
            formControlName='nombre'>
            <ul>
                <li *ngFor="let r of searchResult;">{{r}}</li>
            </ul>
            <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Ingrese un Nombre Valido</div>
        </div>
        <div class="form-group">
            <label for="Imagen Url">Imagen Url</label>
            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingrese url..."
            formControlName='url'>
            <div *ngIf="!fg.controls['url'].valid"> Ingrese una Dirección de Imagen Valida</div>
        </div>
        <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>

